USE [DtbUcusCf]
GO
ALTER TABLE [dbo].[tblHavayollari] DROP CONSTRAINT [FK_tblHavayollari_tblHavayollari]
GO
/****** Object:  Table [dbo].[tblHavayoluEnvanter]    Script Date: 25.12.2019 22:41:57 ******/
DROP TABLE [dbo].[tblHavayoluEnvanter]
GO
/****** Object:  Table [dbo].[tblHavayollari]    Script Date: 25.12.2019 22:41:57 ******/
DROP TABLE [dbo].[tblHavayollari]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25.12.2019 22:41:57 ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [DtbUcusCf]    Script Date: 25.12.2019 22:41:57 ******/
DROP DATABASE [DtbUcusCf]
GO
/****** Object:  Database [DtbUcusCf]    Script Date: 25.12.2019 22:41:58 ******/
CREATE DATABASE [DtbUcusCf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DtbUcusCf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LOCALHOST\MSSQL\DATA\DtbUcusCf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DtbUcusCf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LOCALHOST\MSSQL\DATA\DtbUcusCf_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DtbUcusCf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DtbUcusCf]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25.12.2019 22:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHavayollari]    Script Date: 25.12.2019 22:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHavayollari](
	[Id_Havayolu] [nvarchar](10) NOT NULL,
	[Havayolu_Adi] [nvarchar](30) NOT NULL,
	[Id_Ucak] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tblHavayollari] PRIMARY KEY CLUSTERED 
(
	[Id_Havayolu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHavayoluEnvanter]    Script Date: 25.12.2019 22:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHavayoluEnvanter](
	[Id_Havayolu] [nvarchar](10) NOT NULL,
	[Id_Ucak] [int] NOT NULL,
	[Adet] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblHavayollari] ([Id_Havayolu], [Havayolu_Adi], [Id_Ucak]) VALUES (N'A1', N'Deneme', NULL)
INSERT [dbo].[tblHavayollari] ([Id_Havayolu], [Havayolu_Adi], [Id_Ucak]) VALUES (N'A2', N'Deneme2', NULL)
INSERT [dbo].[tblHavayollari] ([Id_Havayolu], [Havayolu_Adi], [Id_Ucak]) VALUES (N'B1', N'Deneme3', NULL)
ALTER TABLE [dbo].[tblHavayollari]  WITH CHECK ADD  CONSTRAINT [FK_tblHavayollari_tblHavayollari] FOREIGN KEY([Id_Havayolu])
REFERENCES [dbo].[tblHavayollari] ([Id_Havayolu])
GO
ALTER TABLE [dbo].[tblHavayollari] CHECK CONSTRAINT [FK_tblHavayollari_tblHavayollari]
GO
USE [master]
GO
